:root {
  font: 400 1em / 1.5 "Rubik", sans-serif;  
  font-optical-sizing: auto;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0px;
  height: 100vh;
  display: flex;
  flex-flow: column;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
}

header {
  background-color: #F8F8F8;
  height: 50px;
  font-size: 23px;
  display: flex;
  align-items: center;
  padding-inline: 12px;
  gap: 12px;

  color: #948E8E;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.2));
}

header #logo {
  width: 1.4em;
  height: 1.4em;
}

footer {
  background-color: #F8F8F8;
  height: 50px;
}

#lesson {
  background-color: white;
  padding: 0.5em 1em;
  max-width: 500px;
}

#lesson * {
  margin: 0px;
}

#lesson .chapter {
  color: #BFBFBF;
  text-transform: uppercase;
  font-weight: 500;
  /* line-height: 1.2; */
}

#lesson .content {
  display: flex;
  flex-flow: column;
  gap: 0.5em;
}

#lesson h1 {
  font-weight: 500;
  font-size: 1.5em;
}

#sandbox {
  display: flex;
  flex-flow: column;
  width: 100%;
  flex-grow: 2;
}

#editor {
  height: 100%;
  border-right: 1px solid #e5e7eb;
  display: flex;
  flex-flow: column-reverse;
  background-color: #282c34;
}

#tables {
  /* background-color: #e5e7eb; */
  height: 100%;
  overflow: hidden;
  font-family: monospace;
}

table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  text-align: left;
  display: table;
  margin: 0;
  padding: 0;
  overflow: auto;
}

thead {
  margin-bottom: 5px;
  padding: 5px 1px;
}

tbody {
  background-color: #e5e7eb;
}

th, td {
  padding: 3px 10px;
  border: 1px solid #e5e7eb;
  border-left: none;
}

th {
  color: #6b7280;
  background-color: #f9fafb;
  border-top: none;
  box-sizing: border-box;
  white-space: nowrap;
  outline: none;
  vertical-align: middle;
}

td {
  background-color: #fff;
  box-sizing: content-box;
}

/* td:first-child {
  border-left: none;
}

td:last-child {
  border-right: none;
} */

.cm-editor {
  height: 100%;
  font-size: 14px;
}

#run {
  width: 100px;
}