*, ::before, ::after {
  box-sizing: border-box;
}

:root {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0px;
  height: 100vh;
  display: flex;
  flex-flow: column;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
}

header {
  background-color: #F8F8F8;
  height: 50px;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  padding-inline: 12px;
  gap: 12px;

  color: #948E8E;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.2));
}

header #logo {
  width: 1.4em;
  height: 1.4em;
}

footer {
  background-color: #F8F8F8;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 25px;
}

footer a:link, footer a:visited {
  font-weight: 500;
  font-size: 18px;
  color: #AE49FD;
  text-decoration: none;
}

#lesson {
  background-color: white;
  padding: 0.5em 1em;
  width: 430px;
  display: flex;
  flex-flow: column;
  gap: 2em;
}

#lesson * {
  margin: 0px;
}

#lesson .header {
  font-weight: 500;
  color: #9d9d9d;
}

#lesson .header .title {
  color: #767676;
  /* text-transform: uppercase; */
}

#lesson .content {
  display: flex;
  flex-flow: column;
  gap: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  padding-top: 1em;
}

h1 { font-size: 1.5em; }
h2 { font-size: 1.2em; }

#sandbox {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}

#tabs {
  width: 100%;
  /* height: 40px; */
  display: flex;
  flex-flow: row;
  padding: 0.5em;
  justify-content: flex-end;
  background-color: #1e1e1e;
}

#run {
  background-color: inherit;
  color: #61e892;
  border: 1px solid #61e892;
  border-radius: 4px;
  padding: 0.3em 1em;
  cursor: pointer;
}

#run:hover:not(:disabled) {
  background-color: #61e892;
  color: white;
}

#run:disabled {
  /* background-color: in; */
  color: #b0b0b0;
  border: 1px solid #e5e7eb;
  cursor: not-allowed;
}

#editor {
  height: 100%;
  border-right: 1px solid #e5e7eb;
  background-color: #1e1e1e;
}

#tables {
  background-color: #1e1e1e;
  height: 100%;
  padding: .5em;
}

.ag-theme-quartz-dark {
  --ag-grid-size: 5px;
}

.cell-error {
  background: rgba(255,0,0,0.3);
}

#run {
  width: 100px;
}

/* PrismJS */
pre, :not(pre) > code {
  font-family: Menlo, Monaco, 'Courier New', monospace;
  font-size: 12px;
  line-height: 1.4;

	color: #f8f8f2;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	tab-size: 2;
	hyphens: none;

  background: #282c34;
  border-radius: .3em;
}

:not(pre) > code {
  padding: .3em .5em;
}

pre {
  padding: .7em 1em;
  overflow: auto;
}

.token.class-name { color: #4EC9B0 }
.token.variable { color: #9CDCFE }
.token.number { color: #B5CEA8 }
.token.string { color: #CE9178 }
.token.keyword { color: #C586C0 }

