:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0px;
  height: 100vh;
  display: grid;
  grid-template-columns: 25em 1fr 1fr;
  grid-template-rows: 3em 1fr 25%;
}

header {
  background-color: lightcoral;
  grid-area: 1 / 1 / span 1 / span 3;
}

#lesson {
  background-color: orange;
  grid-area: 2 / 1 / span 2 / span 1;
  padding: 1em;
}

#editor {
  grid-area: 2 / 2 / span 1 / span 1;
}

#tables {
  background-color: #e5e7eb;
  grid-area: 2 / 3 / span 1 / span 1;
  overflow: hidden;
}

#output {
  background-color: black;
  grid-area: 3 / 2 / span 1 / span 2;
}

table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  text-align: left;
  display: table;
  margin: 0;
  padding: 0;
  overflow: auto;
}

thead {
  margin-bottom: 5px;
  padding: 5px 1px;
}

tbody {
  background-color: #e5e7eb;
}

th, td {
  padding: 3px 10px;
  border: 1px solid #e5e7eb;
}

th {
  color: #6b7280;
  background-color: #f9fafb;
  border-top: none;
  box-sizing: border-box;
  white-space: nowrap;
  outline: none;
  vertical-align: middle;
}

td {
  background-color: #fff;
  box-sizing: content-box;
}

/* td:first-child {
  border-left: none;
}

td:last-child {
  border-right: none;
} */